# dependencies
node_modules/

# build
dist/
build/
.cache/

# env files
.env
.env.local
web3/.env

# system files
.DS_Store
Thumbs.db

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
.env
